* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #666;
  font-family: 'Roboto';
}

html {
  font-size: 62.5%;
}

/**** NAVBAR ****/

.nav-bar {
  margin: 1.2rem 4.4rem;
  display: flex;
  justify-content: space-between;
}

.nav-option {
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #444;
  font-weight: 700;
}

.home-logo {
  display: inline-block;
}

.option-container {
  display: flex;
  align-items: center;
  gap: 3.8rem;
}

.facebook-btn {
  background-color: #4267B2;
  color: white;
  padding: 1.8rem 2.8rem;
}

/**** FOOTER CONTAINER ****/
.footer-container {
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 20rem;
}

.footer-img {
  height: 50%;
}

.facebook-footer {
  color: #4267B2;
  width: 2.4rem;
  height: 2.4rem;
}

.footer-right-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.footer-text {
  color: white;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
}

.copyrights {
  font-size: 1.6rem;
  font-weight: 700;
}

.footer-btn {
  cursor: pointer;
  text-decoration: none;
  background-color: none;
}